html, body {
    margin: 0;
    padding: 0;
    max-width: 1024px; 
	margin: 0 auto !important; 
	float: none !important; 
   
}
h1 {
    font-weight: bold;
}

header nav ul   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.984);
    color: rgb(0, 26, 255);
}


 .headlines  {
    border: 1px solid black;
    display: flex;
    width: 100%; 
    background-color: lightsteelblue;
}

#footer {
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: rgb(240, 0, 0); 
    padding: 40px 0 120px 0;
    margin-top: 20px;
   
}

#main-header {

    background-color: rgb(255, 255, 255); 
    border: 1px solid rgb(236, 147, 147);
 width: max-content;
 padding: 10px;
    margin-top: 20px;
}
#subtex {
    
 
    background-color: rgb(30, 0, 255); 
    border: 1px solid black;
    width: 50%;
    margin-top: 30px;
    padding: 10px;
    text-align: center;

}


#article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;

  
}

.article1{
   
    background-color: rgb(72, 255, 0); 
    border: 1px solid black;
    width: 20%;
    height: fit-content;
    padding: 10px;
    margin-right: -350px;
}

.article2 {
    background-color: rgba(131, 131, 131, 0.212); 
    border: 1px solid black;
    width: 20%; 
    height: fit-content;
    padding: 10px;
    margin-left: -350px;
}



  #aside {

  display: flex;
  margin-left: auto;
  margin-top: -700px;
  background-color: rgb(255, 0, 47); 
  border: 1px solid black;
  width: 30%;
  padding: 10px;

}

#allArttical{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
  margin-left: -400px;

}

li:hover {

    background-color: rgb(255, 0, 217);
    border-radius: 7px;
  }

  #login{
    margin-top: 50px;
  }

#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

 .footer{
   
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: rgb(240, 0, 0); 
    padding: 40px 0 120px 0;
    margin-top: 20px;
 }
 
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="email"],
.form-style-6 input[type="text"]


{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus

.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}
#resetAndCheck{
    margin-top: 10px;
}
#resetAndCheck .form-check{
    margin-top: 10px;
}

